{# shared-media-gallery  admin/category.twig  v0.0.1 #}
{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
	<h1>Category Admin</h1>
	<form action="">
		<input name="q" type="text" size="30" />
		<input type="submit" value="   Find Categories   " />
	</form>
	
	{% if query %}
	<br>query: {{ query|escape }}
	
	<form action="{{ uriBase }}/admin/category/save/" method="POST">
	<input type="submit" value="  Save selected   ">
	<ul>
	{% for result in results %}
		 <li>
		 <input name="pageid[]" value="{{ result.pageid }}" type="checkbox" />
		 <span class="title">{{ result.title|e }}</span> 
		 &nbsp; <span class="pageid">{{ result.pageid }}</span>
	     &nbsp; files:{{ result.files }}
		 &nbsp; subcats:{{ result.subcats }}
		 &nbsp; pages:{{ result.pages }}
		 &nbsp; size:{{ result.size }}
		 &nbsp; hidden:{{ result.hidden ? 'true' : 'false' }}
		 </li>
	{% endfor %}
	</ul>
	
	<br /><input type="submit" value="  Save selected   ">
	</form>
	
	{% endif %}
</div>

{{ include('footer.twig') }}
