{# shared-media-gallery  admin/category.save.twig  v0.0.1 #}
{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">

    {% if errors %}
        Errors:
        <ul>
        {% for error in errors %}
            <li><pre>{{ error|e }}</pre></li>
        {% endfor %}
        </ul>
    {% endif %}

    Saved Categories:
    <ul>
    {% for category in results %}
         <li>
         {{ include('thumb.category.twig') }}
         </li>
    {% endfor %}
    </ul>

</div>
{{ include('footer.twig') }}
