{# shared-media-gallery  admin/media.twig  v0.0.1 #}
{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
	<h1>Media Admin</h1>
	<form action="">
		<input name="q" type="text" size="30" />
		<input type="submit" value="   Find Media   " />
	</form>
	
	{% if query %}
	<br>query: {{ query|escape }}
	
	<pre>
	{% for key, item in results %}
		 <hr />{{ key }} - {{ dump(item) }}
	{% endfor %}
	</pre>
	
	{% endif %}
</div>

{{ include('footer.twig') }}
