{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">

    {% if errors %}
        Errors:
        <ul>
        {% for error in errors %}
            <li><pre>{{ error|e }}</pre></li>
        {% endfor %}
        </ul>
    {% endif %}

    Saved Media:
    <br />
    {% for media in results %}
         <div style="display:inline-block;border:1px solid black;">
         {{ include('thumb.media.twig') }}
         </div>
    {% endfor %}

</div>
{{ include('footer.twig') }}
