{# shared-media-gallery  admin/media.twig  v0.0.1 #}
{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
	<h1>Media Admin</h1>
	<form action="">
		<input name="q" type="text" size="30" />
		<input type="submit" value="   Find Media   " />
	</form>
	
	{% if query %}
	<p>query: {{ query|escape }}</p>
	
	<form action="{{ uriBase }}/admin/media/save/" method="POST">
	
	{% for media in results %}
		 {{ include('thumb.media.twig') }}
	{% endfor %}
	
	<br /><input type="submit" value="  Save selected   ">
	</form>

	{% endif %}
</div>
{{ include('footer.twig') }}
