<div class="menu">
    <a href="{{ uriBase }}/admin/">Admin</a>
    &nbsp;&nbsp; <a href="{{ uriBase }}/admin/site/settings/">Settings</a>
    &nbsp;&nbsp; <a href="{{ uriBase }}/admin/source/list/">Sources</a>
    &nbsp;&nbsp; <a href="{{ uriBase }}/admin/category/list/">Categories</a>
    &nbsp;&nbsp; <a href="{{ uriBase }}/admin/media/list/">Media</a>
    &nbsp;&nbsp; <a href="{{ uriBase }}/admin/page/list/">Pages</a>
</div>
