{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
    <h1>Page List</h1> - (<a href="../search/">search</a>)
    <div class="table">
        <div class="row">
            <div class="cell header">Title</div>
            <div class="cell header">ID</div>
            <div class="cell header">Pageid</div>
            <div class="cell header">Source</div>
            <div class="cell header">Display Title</div>
            <div class="cell header">Page Image Free</div>
            <div class="cell header">Wikibase Item</div>
            <div class="cell header">Disambig</div>
            <div class="cell header">default sort</div>
		</div>
        {% for page in pages %}
            <div class="row">
                <div class="cell left"><span class="title">{{ page.title|e }}</span></div>
                <div class="cell left">{{ page.id }}</div>
                <div class="cell left"><span class="pageid">{{ page.pageid }}</span></div>
                <div class="cell left">{{ page.sourcetitle|e }}</div>
                <div class="cell left">{{ page.displaytitle|e }}</div>
                <div class="cell left">{{ page.page_image_free|e }}</div>
                <div class="cell left">{{ page.wikibase_item|e }}</div>
                <div class="cell left">{{ page.disambiguation|e }}</div>
                <div class="cell left">{{ page.defaultsort|e }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{{ include('footer.twig') }}
