{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
	<h1>Site Admin</h1>
	<hr />
	{% if saved %}
		<p>Site Settings SAVED</p>
	{% endif %}
	<form action="save/" method="POST">
	<br />Title: <input name="title" value="{{ site.title|e }}" type="text" size="40" />
	<br />About: <textarea name="about" cols="70" rows="4" />{{ site.about|e }}</textarea>
	<br />Header: <textarea name="header" cols="70" rows="8" />{{ site.header|e }}</textarea>
	<br />Footer: <textarea name="footer" cols="70" rows="8" />{{ site.footer|e }}</textarea>
	<br />
	<br /><input type="submit" value="    Save Site Settings   " />
	</form>
	<hr>site:<pre>{{ dump(site) }}</pre>
</div>
{{ include('footer.twig') }}
