{{ include('header.twig') }}
{{ include('menu.twig') }}
{{ include('admin/menu.twig') }}
<div class="content">
    <h1>Delete Source</h1>
    <br />
    <pre style="background-color:#ff6;font-weight:bold;">
ID      : {{ source.id }} &nbsp;
Title   : {{ source.title|e }} &nbsp;
Host    : {{ source.host|e }} &nbsp;
Endpoint: {{ source.endpoint|e }} &nbsp;
# Categ : {{ source.category_count|default('0') }} &nbsp;
# Media : {{ source.media_count|default('0') }} &nbsp;
# Pages : {{ source.page_count|default('0') }} &nbsp;
</pre>
    <p>
        Delete this source?
    </p>
    <p>
        <form action="" method="POST">
            <input name="sourceId" value="{{ source.id }}" type="hidden" />
            <input type="submit" value="Yes, Delete Source ID #{{ source.id }}" />
        </form>
    </p>
    <p>
        <br />
        <a href="../../list/">Cancel</a>
    </p>
</div>
{{ include('footer.twig') }}
