{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
    <form method="GET" style="float:right;">
        <input type="text" name="q" value="{{ query|e }}" size="16">
        <input type="submit" value="Search {{ category_count|default('0') }} Categories">
    </form>
    <div class="table">
        <div class="row">
            <div class="cell header">Category</div>
            <div class="cell header"># Media</div>
            <div class="cell header"># Pages</div>
            <div class="cell header">Source</div>
        </div>
        {% for category in categories %}
            <div class="row">
                <div class="cell left">
                    <span class="title">
                        <a href="{{ uriBase }}/category/{{ category.sourceid }}/{{ category.pageid }}/">{{ category.shortTitle|e }}</a>
                    </span>
                </div>
                <div class="cell right">{{ category.files|default('?') }}</div>
                <div class="cell right">{{ category.pages|default('?') }}</div>
                <div class="cell left small">{{ category.sourcetitle|e }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{{ include('footer.twig') }}
