{# shared-media-gallery  categories.twig  v0.0.1 #}
{{ include('header.twig') }}
{{ include('menu.twig') }}
<div class="content">
    <form method="GET" style="float:right;">
        <input type="text" name="q" value="{{ query|e }}" size="16">
        <input type="submit" value="Search {{ category_count|default('0') }} Categories">
    </form>
    <div class="cattable">
        <div class="catcon">
            <div class="catfiles cathead">Files</div>
            <div class="catname cathead">Category</div>
        </div>
        {% for category in categories %}
            <div class="catcon">
                <div class="catfiles">{{ category.files|default('?') }}</div>
                <div class="catname" onclick="window.location='{{ uriBase }}/category/{{ category.pageid }}/'">
                    <span class="title"><a href="{{ uriBase }}/category/{{ category.pageid }}/">{{ category.title|e }}</a></span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{{ include('footer.twig') }}
