<footer>
<a href="{{ uriBase }}/">{{ title }} v{{ version }}</a>
&nbsp;|&nbsp;
<a href="{{ uriBase }}/about/">about</a>
&nbsp;|&nbsp;
<a href="{{ uriBase }}/admin/">admin</a>
&nbsp;|&nbsp;
<a target="_blank" href="https://github.com/attogram/shared-media-gallery">github</a>
&nbsp;|&nbsp;
<a target="_blank" href="https://codeclimate.com/github/attogram/shared-media-gallery">codeclimate</a>
&nbsp;|&nbsp;
<a target="_blank" href="https://travis-ci.org/attogram/shared-media-gallery">travisci</a>
&nbsp;|&nbsp;
<a target="_blank" href="https://packagist.org/packages/attogram/shared-media-gallery">packagist</a>
</footer>
</body>
</html>
