{# shared-media-gallery  menu.twig  v0.0.1 #}
<div class="menu">
    <nobr><a href="{{ uriBase }}">{{ title }}</a></nobr>
    &nbsp;&nbsp;
    <nobr><a href="{{ uriBase }}/media/">{{ number_of_media|default('0') }} Media</a></nobr>
    &nbsp;&nbsp;
    <nobr><a href="{{ uriBase }}/category/">{{ number_of_categories|default('0') }} Categories</a></nobr>
</div>
