{# shared-media-gallery  menu.twig  v0.0.1 #}
<div class="menu">
    <nobr><a href="{{ uriBase }}">{{ title|default('Gallery') }}</a></nobr>
    &nbsp;&nbsp;
    <nobr><a href="{{ uriBase }}/media/">{{ media_count|default('0') }} Media</a></nobr>
    &nbsp;&nbsp;
    <nobr><a href="{{ uriBase }}/category/">{{ category_count|default('0') }} Categories</a></nobr>
	&nbsp;&nbsp;
    <nobr><a href="{{ uriBase }}/page/">{{ page_count|default('0') }} Pages</a></nobr>
</div>
