{% if category %}
    <span class="title"><a href="{{ uriBase }}/category/{{ category.sourceid }}/{{ category.pageid }}/">{{ category.title|e }}</a></span>
    &nbsp; <span class="pageid">{{ category.pageid }}</span>
    &nbsp; {{ category.files|default('?') }} files
    &nbsp; {{ category.subcats|default('?') }} subcats
    &nbsp; {{ category.pages|default('?') }} pages
    &nbsp; {{ category.size|default('?') }} size
    &nbsp; [{{ category.hidden ? 'hidden' : 'public' }}]
    &nbsp; source: {{ category.sourcetitle }} ({{ category.source_id }})
{% else %}
    Category Not Found
{% endif %}
